html {
	margin: 0;
}

body {
	margin: 0;
}

h1 {
	background: red;
	/*margin-bottom: 15px;
	margin-top: 15px;*/

	/* top right bottom left */
	margin: 15px 0 15px 0;

	/* top-bottom right-left */
	margin: 15px 0;

	/* top-right-bottom-left */
	margin: 15px;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;

	padding: 10%;
}

h2 {
	margin-top: 30px;

	/* espessura estilo cor */
	border: 5px solid #0000FF;

	border-top: 3px dotted #FF0000;
	border-right: 3px dotted #FF0000;
	border-bottom: 3px dotted #FF0000;
	border-left: 3px dotted #FF0000;

	border-color: red;
	border-style: solid;
	border-width: 5px;

	border-top-color: green;
	border-bottom-style: dashed;
}

p {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 10%;
	margin-right: 10%;
}

ul {
	padding: 0;
}








