p {
	color: #FF0000;
	color: #F00;
	
	color: rgb(0, 0, 255);
	color: rgb(0%, 0%, 100%);
	
	color: rgba(255, 0, 0, 1);
	
	color: hsl(0, 100%, 50%);
	color: hsla(0, 100%, 50%, 1);
	
	color: #3F5728;
}

p {
	font-size: 15px;
	line-height: 1.05em;
	text-align: justify;
	text-decoration: underline;
	text-indent: 2em;
	text-transform: capitalize;
	word-spacing: 5px;
}

strong {
	letter-spacing: 2px;
	/*vertical-align: 15px;*/
}





