* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#conteudo {
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 320px;
}
#conteudo img {
  background-color: green;
  display: block;
  width: 100%;
}

@media (min-width:768px) {
  #conteudo {
    overflow: hidden;
    width: 100%;
  }
  #conteudo div {
    float: left;
    width: 50%;
  }
}










/**/
